/*Selector Universal*/

* {
    margin: 0px auto;
    padding: 0px auto;
    text-decoration: none;
}


header {
    background-image: url("banner.jpg"); /*Comando Background-Image para que quede detrás
    de los elementos que yo prefería pasen al frente*/
    display: block;
    padding: 1px;
    margin: 0px;
    margin-top: 1px;
    border: 1px solid grey;
    height: 450px;
}

#icon {
    display: block;
    width: 24px;
    height: 97px;
    margin-left: 0px;
    float: left;
}

#banner {
    width: 1050px;
}

h3 {
    color: rgb(192, 117, 18);
}

#fb {
    float: right;
    width: 50px;
    height: 40px;
    margin: 0 auto;
}



#avatar {
    display: block;
    float: left;
    margin-top: 273px;
    padding-left: 0px;
    text-align: left;
    
}

#avatar img {
    border-radius: 105px;
}

.botones {
    margin: 4px;
    padding: 4px;
    float: right;
}

.botones svg {
    width: 35px;
    height: auto;
}

body {
    background-color: rgb(97, 124, 46);
}

body p {
    display: block;
    margin-top: 395px;
    color: yellow;
}

body article p {
    margin-top: 8px;
}