* {
    margin: 0px auto;
    padding: 0px auto;
    background: aquamarine;
    font-size: 12px
}

header {
    background: red;
}

h3 {
    color:rgb(192, 117, 18);
}

.avatar {
    height: 280px;
}